.back {
    background-color: #F3F8FF;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #48ACFA;
    border-left: 1px solid #48ACFA;
}

.AfterShadow {
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.07);
}

.TopAfter {
    border-bottom: 2px dashed #B0B0B0;
}

.afterSelect {
    background-color: #F3F8FF;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}

.afterBTN1 {
    background-color: #F3F8FF;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #2EA6FC;
    font-weight: bold;
    color: #2EA6FC;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.07);

}

.afterBTN2 {
    background-color: #2EA6FC;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    border: 1px solid lightgray;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.07);


}

.HelpBox {
    border: 2px solid #2EA6FC;
    display: flex;
    margin-top: 65vh;
    background-color: #F3F8FF;
    flex-direction: column;
}

.HelpBox img {
    width: 10vw;
}

.HelpHead>p,
h3 {
    color: #007BBE;
}

.HelpHead>p {
    font-size: 0.9vw;
}

.premium {
    border: 2px dashed red;
    border-radius: 5px;
    padding: 1rem;
    background-color: white;
}

.FormProfile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.picInput {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: lightgray;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;

}