/* The side navigation menu */
:root {
  --green: #5fb951;
  --light-green: #e1ffe0;
  --dark-grey : #434343;
  --light-grey: #8d8d8d;
  --red : #fb5a90;
  --light-red: #fbe3e2;
  --white : #FFFFFF;
  --black : #000000;
  --grey : #a5a5a5;
  --blue: #0D6EFD;
  --blue1: #4794ec;
  --light-blue1: #5f9bdd;
}
body{
  font-family: 'Arial ', sans-serif;
  /* background-color: rgb(214, 213, 213); */


}
h1, h2,h3,h4,h5,h6,p{
  margin: 0 ;
  padding: 0;
}
.f-10{
  font-size: 10px;

}
.f-12{
  font-size: 12px;
}
.f-14{
  font-size: 14px;
}
.f-16{
  font-size: 16px;
}
.f-18{
  font-size: 18px;
}
.display-none{
  display: none !important;
}
.display-block{
  display: block !important;
}

.myCard{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0.5rem;
}
/* The side navigation menu////////////////////////////// */
.sidebar {
  margin: 0;
  padding: 0;
  width: 15vw;
  background-color: var(--white);
  position: fixed;
  height: 100%;
  overflow: auto;
  border-right: 1px solid var(--black);
}
.my-icon{
  width: 30px;
  height: 30px;
}
.logo{
  
}


/* Sidebar links */
.sidebar a {
  display: block;
  color: var(--black);
  padding: 16px;
  text-decoration: none;
  /* border-radius: 5px; */
}
.sidebar-logo{
  width: 200px;
}


/* //////////////////////////MY-CSS----------///////// */
.Dashboard-btn{
  border: 5px solid var(--blue);
  border-radius:2rem;
  width: 13vw;
  padding: 0.5rem 0.5rem;
}
.Dashboard-btn2{
  border: 1px solid var(--black);
  border-radius:2rem;
  width: 10vw;
  padding: 0.2rem 0.5rem;
}
.d-card{
  border: 5px solid maroon;
  border-radius: 1rem;
  background-color: rgb(243, 190, 190);
  width:10vw;
}
.Dashboard-3{
  border: 1px solid var(--black);
  border-radius: 5px
}
.dashboard-table > span{
  font-size: 4rem;
  font-weight: 700;
  width: 25%;
  text-align: center;
  border: 1px solid var(--black);
  padding: 2rem 0;
}
.sidebar-card{
  border-radius: 5px;
  background-color: #e1e1e1;

}

.sidebar-card p{
  text-align: center;
}
.sidebar-btn{
  border-radius: 1rem;
}
.dashboard1-navbar{
  border-bottom: 1px solid var(--black);
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  /* padding: 12px 16px; */
  /* padding-bottom: 4px; */
  z-index: 1;
  border: 1px solid var(--black);
  
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
.dropdown-content a{
  text-decoration: none;
  color: var(--black);
  padding: 0.5rem 1rem;
  
}
.dropdown-content a:hover{
  background-color: #e1e1e1;
}

.nav-btn{
  border: none;
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  width: 10vw;
}
.nav-btn1{
  background-color: var(--green);
}
.nav-btn1:hover{
  background-color: var(--light-green);
  color: var(--black);
}
.nav-btn2{
  background-color: var(--red);
}
.nav-btn2:hover{
  background-color: var(--light-red);
  color: var(--black);
}
.nav-btn3{
  background-color: transparent;
  color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
}
.nav-btn3:hover{
  background-color: var(--dark-grey);
  color: var(--white);
}
.nav-btn4{
  background-color: var(--blue1);
}
.nav-btn4:hover{
  background-color: var(--light-blue1);
  color: var(--black);
}
.profile-img{
  border-radius: 50px;
  /* border: 1px solid var(--black); */
  width: 70px;
  /* height: 50px; */
}



.dahsboard1-sec1{
  border: 1px solid var(--black);
}
.dahsboard1-sec2{
  border: 1px solid var(--black);
  border-left: none;
}


.dahsboard1-list-nav table{
  width: 100%;
  
}
.dahsboard1-list-nav thead{
  border: 1px solid var(--black);
  border-top: none;
  border-left: none;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
  margin-left: 15vw; 
  /* width: 83.5vw; */
}



  /* -------------------Navbar-------------- */
  .nav-ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: var(--black);
      display: flex;  
      justify-content: space-between;
      border-radius: 5px;
      padding: 0.3rem 1rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  
    }
    
    .nav-heading{
      color: var(--white);
      margin: 0;
    }
    .nav-logout{
      display: flex;
      margin: 0;
      color: var(--white);
      gap: 1rem;
      align-items: center;
    }
    .nav-a{
      color: var(--white);
      text-decoration: none;
    }
  
    
    li a:hover {
      background-color: #111;
    }


    /* //Golbal Button/// */
    .button{
      padding: 0.5rem 1rem;
    }


    /* ////////////////Dashboard1//////////////
     */
     .dashboard-table{
      border-right: 1px solid var(--black);
      /* height: 80vh; */
      /* overflow-y: scroll; */
     }
     
     .d-table-head{
      /* border-top: 1px solid var(--black); */
      border-bottom: 1px solid var(--black);
      /* position: ; */
     }
     .d-table-head th{
      text-align: center;
     }
     .d-table-body td{
      text-align: center;
      padding: 0 10px;
    }
     .profile-td{
      width: 10vw;
      overflow: hidden;
      word-wrap: break-word;
     }
     .profile-td p{
      font-weight: bold;
     }
     .rating{
      border: 2px solid orange;
      border-radius: 1rem;
      height: 4vh;
      justify-content: center;
    }
    .rating p{
      font-weight: bold;

    }
    .table-rating{
      width: 6vw;
    }
    .decision-select{
      background-color: transparent;
      border: none;
      outline: none;
      border-radius: 1rem;
      width: 100%;
      font-weight: bold;
      color: var(--black);     
    }
    .table-decision{
     width: 30%;
    }
    .table-check{
      width: 5vw;
    }
    .decision{
      border-radius: 1rem;
      justify-content: center;
      height: 4vh;
      /* background-color: var(--light-grey); */
      border: 2px solid var(--light-grey);
      /* padding: 1vw 1vh; */
    }
    .shortlist{
      background-color: var(--light-green);
      border: 2px solid var(--green);
    }
    .reject{
      background-color: var(--light-red);
      border: 2px solid var(--red);
    }
    .unfit{
      background-color: rgb(238, 213, 204);
      border: 2px solid orange;
    }
    .table-cv{
      width: 7vw;
    }
    .resume{
      border: 2px solid orange;
      border-radius: 1rem;
      justify-content: center;
      height: 4vh;
    }
    .cv-btn{
      border: none;
      background-color: transparent;
      height: 4vh;
    
    }
    .cv-btn a{
      text-decoration: none;
      color: var(--black);
      font-weight: bold;
    }


    /* -----------------d-info------------------ */
    .d-info-wrapper{
      justify-content: center;
      align-items: center;
    }
    .d-info-profile{
      display: flex;
      justify-content: flex-start;
    }
    
    .d-info-about-btn{
      border-top: 1px solid var(--black);
      justify-content: space-evenly;
    }
    .d-info-about-btn button{
      border: none;
      background-color: transparent;
      font-weight: bold;
      padding: 1rem 0.5rem;
    }
   
    .info-line{
      border-right: 1px solid var(--black);
    }
    .info-btn1 p{
      font-weight: 800;
      color: var(--green);
    }
    .info-btn2 p{
      font-weight: 800;
      color: var(--red);
    }
    .info-btn1:hover , .info-btn2:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
   

  /* //////////DashShortlisted///////////////// */
  .form-line{
    display:block;
    height:1px;
    border:0;   	
    border-top:3px solid #eeeeee;
    margin:1em 0;
    border-radius: 50%;
    padding:0;
  }
  .google-map-btn{
    background-color: transparent;
    font-weight: bold;
    color: var(--grey);
    /* height: 55px; */
    padding: 0.9rem 0.5rem;
    border: 1px solid var(--grey);
    border-radius: 4px;
    width: 150px;

  }
  .inoffice-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    gap: 1rem;
  }
  .whatsapp-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    gap: 1rem;

  }