/* Main body for the employee page */
.Mainbody {
    background-color: #F3F8FF;
    border-radius: 20px;
    padding-right: 10vw;

}

.uName {
    color: #1F8EE4;
    font-weight: bold;
}

.edbutton {
    border-radius: 15px;
    background-color: #1F8EE4;
    color: white;
    height: 6vh;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sdbutton {
    margin-top: 10vh;
}

.infoCard {
    background-color: white;
    border-radius: 8.32px;
    filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.08));
    width: 15vw;
}

.jobCard {
    background: #FFFFFF;
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.08);
    border-radius: 21.5761px;
    border: none;
}

.jobCardTag {
    border: 1px solid #B0B0B0;
    border-radius: 10px;
    width: 10vw;
    text-align: center;
}

.jobCardSep {
    border-top: 1px solid #8A8A8A;
}

.jobCardSep2 {
    text-align: center;
    /* width: 100px; */
    height: 15vh;
    /* border-right: 1px solid #8A8A8A; */
}

/* .jobCardSep3 {} */

.headTopic {
    font-size: 20px;
}

.tableRow {
    border-top: 1px solid #8A8A8A;
    text-align: center;
}

.tableTD {
    border-right: 1px solid #8A8A8A;
    padding: 2rem 0rem;
    overflow: none;
}